* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
    font: 1.5rem;
}

#app {
    background-color: var(--white);

}

.qr-code img {
    width: 100%;
}

h1 {
    color: var(--dark-blue);
}

p {
    color: var(--grayish-blue);
}
